@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #2c5926;
  --color-background-light: #f6f7f6;
  --color-background-dark: #161d15;
  --font-display: "Manrope", sans-serif;
  --font-sans: var(--font-manrope);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}